{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timer.css') }}">
</head>

<div class="timer-container">
    <h2>Minutnik</h2>
    <input type="number" id="minutes" placeholder="Minuty">
    <input type="number" id="seconds" placeholder="Sekundy">

    <div class="buttons">
        <button id="start-timer">Start</button>
        <button id="reset-timer" disabled>Reset</button>
    </div>

    <p id="countdown">00:00</p>
</div>

<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}
