{% extends 'base.html' %}

{% block content %}
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/timer.css') }}">
</head>

<div class="timer-container">
<div id="timer-display-container">
    <h1 id="timer-display">00:00</h1></div>
    <div class="time-buttons">
        <button onclick="addTime(10)">+0:10</button>
        <button onclick="addTime(30)">+0:30</button>
        <button onclick="addTime(60)">+1:00</button>
        <button onclick="addTime(300)">+5:00</button>
    </div>
    <div class="controls">
        <button id="start-pause" onclick="toggleTimer()">▶</button>
        <button id="reset" onclick="resetTimer()">↻</button>
    </div>
    <audio id="alarm-sound" src="{{ url_for('static', filename='audio/alarm.mp3') }}"></audio>
</div>

<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}
