:root {
    --primary-bg-color: #2d2d2d;
    --text-color: LightSteelBlue;
    --highlight-color: #6c7b8b;
    --container-bg: rgba(105, 105, 105, 0.2);
    --input-bg: #333;
    --button-bg: #4f4f4f;
    --button-hover: #6c7b8b;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.password-generator-container {
    max-width: 600px;
    margin: 80px auto;
    background-color: var(--container-bg);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

h1 {
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    font-size: 18px;
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--highlight-color);
    border-radius: 8px;
    width: 100%;
    max-width: 200px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px auto;
    width: max-content;
}

.checkbox-group label {
    font-size: 16px;
}

button {
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: var(--button-hover);
}

#error-message {
    color: red;
    margin-top: 10px;
}

#result-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

