{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/saper.css') }}">
</head>

<div class="minesweeper-container">
    <div class="board-section">
        <h2>🧨 Saper</h2>
        <div>
            <button id="easyButton">Easy (💣 10)</button>
            <button id="mediumButton">Medium (💣 25)</button>
            <button id="hardButton">Hard (💣 45)</button>
            <button id="resetButton">Reset</button>
        </div>
        <p>⏱️ Time: <span id="timer">0</span> sec</p>
        <div id="board" class="board"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/saper.js') }}"></script>
{% endblock %}
